/* Contact Page Styling */
.form-control:focus {
    border-color: #1a427a;
    box-shadow: 0 0 8px rgba(26, 66, 122, 0.2);
}

.btn-primary {
    background-color: #1a427a;
    border: none;
    transition: 0.3s ease;
}

.btn-primary:hover {
    background-color: #112d53;
    transform: scale(1.02);
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}